body
{
	background-color: 	#ffffff;
	color: #004d99;
	margin: 0;
}

#container
{
	width: 100%;
	
	
}

.header
{
	background-color: #ffffff;
	height: 100px;
	font-size: 20px;
}

.logo
{
	
	float: left;
	width: 30%;
	text-align: center;
	height: 100%;
	line-height: 0,5;
}


.logo > h1
{
	font-size: 30px;
}

.logo > h2
{
	font-size: 20px;
}

.nav
{
	margin-top: 50px;
	float: left;
	text-align: center;
	
	width: 70%;
}

#MidBar
{
	border-top: 10px solid #dddeee;
	overflow: hidden;
	width: 100%;
	clear: both;
	background-image: url("img/tlo2.jpg");
	margin: 0;
	overflow: hidden;
	color: #99c2ff;
}

.MidBarL
{
	height: 100%;
	float: left;
	width: 50%;
	margin-left: 30px;
	margin-right: 30px;
	text-align: justify;
	letter-spacing: 2px;
}

.MidBarL > h1
{
	color: #ffffff;
	text-align: center;
}

.MidBarL > h2
{
	font-size: 12;
	text-align: center;
	
}
.MidBarR
{
	height: 100%;
	float: right;
	width: 35%;
	text-align: center;
	display: block;
}
		
#content
{
	overflow: hidden;
	clear: both;
	width: 100%;
}

.contentL
{
	margin-left: 20px;
	float: left;
	width: 55%;
	text-align: center;
	display:inline-block;
}

.contentR
{
	margin-left: 10px;
	display:inline-block;
	/*padding:20px;*/
	text-align: right;
	float: left;
	width: 40%;
	

}
	
.footer
{
	
	
	background-color: #a6a6a6;
	clear: both;
	text-align: center;
	margin: 0;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	
	text-decoration: none;
	display: block;
}

ol > li
{
	
	float: left;
	
	margin-left: 20px;
	margin-right: 20px;
}

ol > li:hover
{
	background-color: #e6ffff;
}

.osoba
{
	padding: 10px;
}

.osobaL
{
	padding: 10px;
	float: left;
}

.osobaR
{
	padding: 10px;
	float: left;
}

.rekaLogoImg
{
	background: url(img/reka3.png) no-repeat;
	width: 300px;
	height: 225px;
}
