body
{
	
	color: #004d99;
	margin: 0;
	height: 100%;
	width: 100%;
	background: url("img/subtle_white_mini_waves.png");
	background-repeat:repeat;
}

#container
{
	font-family: 'Crete Round', sans-serif;
	
}


.header
{
	height: 100px;
	font-size: 20px;
}

.logo
{
	float: left;
	width: 20%;
	text-align: center;
	height: 100%;
	line-height: 0,5;
}


.logo h1
{
	
	font-size: 30px;
}

.logo h2
{
	
	font-size: 20px;
}

.nav
{
	margin-top: 35px;
	margin-bottom: 20px;
	float: left;
	text-align: center;
	
	width: 80%;
}

#MidBar
{
	border-top: 15px solid #4e4f97;
	overflow: hidden;
	width: 100%;
	clear: both;
	background-image: url("img/tlo2.jpg");
	opacity: 0.8;
	margin: 0;
	color: #99c2ff;
	text-align: center;
}

#MidBarGUI
{
	border-top: 15px solid #4e4f97;
	overflow: hidden;
	width: 100%;
	clear: both;
	
}

.MidBarL
{
	height: 100%;
	float: left;
	width: 50%;
	margin-left: 30px;
	margin-right: 30px;
	text-align: justify;
	letter-spacing: 2px;
}

.MidBarL > h1
{
	color: #ffffff;
	text-align: center;
	font-size: 34px;
}

.MidBarL > h2
{
	font-size: 22px;
	text-align: justify;
}

.MidBarLGUI
{
	
	float: left;
	width: 50%;
	
}

.MidBarR
{
	height: 100%;
	float: right;
	width: 35%;
	text-align: center;
	display: block;
}

.MidBarRGUI
{
	margin-top: 50px;
	float: left;
	width: 50%;
	
}

.MidBarLL
{
	float: left;
	width: 50%;
	display: block;
}

.MidBarRR
{
	float: left;
	width: 50%;
	display: block;
}
		
#content
{
	overflow: hidden;
	clear: both;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;	
}

.contentL
{
	float: left;
	width: 50%;
	text-align: left;
	margin-left: 20px;
	border: 2px solid #4e4f97;
	border-top-width: 5px;
	border-radius: 10px;
	padding-left: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contentL h3
{
	
}

.contentL h2
{
	font-size: 18px;
}

.title
{
	font-size: 18px;
	text-align: center;
}

.contentL h1
{
	font-size: 20px;
	color: gray;
}

.contentL h4
{
	font-size: 14px;
}

#Tuslugi
{
	border-spacing: 1.2rem;
}

.pierwszy
{
	width: 30%;
}

.contentR
{
	border: 2px solid #4e4f97;
	border-top-width: 5px;
	border-radius: 10px;
	padding-left: 10px;
	margin-left: 60px;
	float: left;
	width: 40%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
	
.contentR h3
{
	
}

.contentR h2
{
	color: gray;
}

#footer
{
	clear: both;
	border-top: 15px solid #4e4f97;
	background: url("img/grey_wash_wall.png");
	background-repeat:repeat;
	clear: both;
	text-align: left;
	margin: 0px;
	overflow: hidden;
	color: #33001a;
	
}

.navFooter
{
	clear: both;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.navFooterLL
{
	width: 19%;
	float: left;
	
	text-align: center;
}

.navFooterL
{
	width: 60%;
	float: left;
	
	text-align: center;
}

.navFooterR
{
	width: 19%;
	float: left;
	text-align: right;
	margin-left: 0px;
}

.bottomMenu
{
	text-align: left;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	display: inline-block;
}

.bottomMenu a
{
	text-decoration: none;
	display: block;
	color: #33001a;
}

.bottomMenu li
{
	float: left;
	padding: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.bottomMenu li a:hover
{
	color: #000000;
}

.topMenu
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	line-height: 200%;
	display: inline-block;
}

.topMenu a
{
	text-decoration: none;
	display: block;
}

.topMenu li
{
	float: left;
	padding: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

.topMenu li:hover
{
	background-color: #e6ffff;
	border-radius: 25px;
	background: url('img/sandpaper.png') no-repeat;
}

.osoba
{
	color: #666666;
	clear: both;
	padding: 10px;
}

.osobaL
{
	width: 15%;
	padding: 10px;
	float: left;

}

.osobaR
{
	width: 80%;
	padding: 0px 10px 10px 10px;
	float: left;

	border-bottom: 2px solid gray;
}

.rekaLogoImg
{
	margin-top: 30px;
	border: 5px solid #4e4f97;
	border-radius: 15px;
	background: url('img/Reka3.png') no-repeat;
	width: 400px;
	height: 300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img 
{
	margin-right: 15px; 
	margin-bottom: 8px; 
	border: 1px solid silver; 
	background: white; padding: 4px;
	border-radius: 3px;
	box-shadow: 1px 1px 3px silver; 
}

.error
{
	color: red;
	margin-bottom: 10px;
	margin-top: 10px;
}

.gui
{
	margin-left: 30px;
	width: 100%;
	clear: both;
	
}

.gui a
{
	text-decoration: none;
}

.hr 
{ 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

.form-element label 
{
    display: inline-bl;
}

input.break {
    word-wrap: break-word;
    word-break: break-all;
    height: 80px;
}